$charcoal-grey: #414452;
$pale-grey-two: #f2f3f7;
$pale-grey: #d9dbe3;
$silver: #c0c3ce;
$light-silver: #b9bdce;
$dark: #2c2f3c;
$slate-grey: #525462;
$modal-background: rgb(82, 84, 98, 0.5);
$box-shadow: rgba(0, 0, 0, 0.04);
$light-gray: #eaedf5;

$white: #fff;

$sick-green: #9bc837;
$dark-green: #86a532;

$dark-sky-blue: #30b6dd;
$soft-blue: #577ce6;
$dark-blue: #10616d;

$top-rated: #faffc2;
$gold-star: #ffc800;
