$charcoal-grey: #414452;
$pale-grey-two: #f2f3f7;
$pale-grey: #d9dbe3;
$silver: #c0c3ce;
$light-silver: #b9bdce;
$dark: #2c2f3c;
$slate-grey: #525462;

$white: #fff;

$sick-green: #9bc837;
$dark-green: #86a532;

$dark-sky-blue: #30b6dd;
$soft-blue: #577ce6;
$dark-blue: #10616d;
