<div class="courses-list">
  <button class="courses-list__add-courses">
    <div class="add-icon"></div>
    <div class="add-course-text">Add course</div>
  </button>
  <div class="courses-list-wrapper" *ngIf="coursesListToShow.length">
    <app-course-item *ngFor="let item of coursesListToShow | orderBy"
                     [courseItem]="item"
                     (deleteCourse)="onClickDeleteCourse($event)"></app-course-item>
    <div class="courses-list__load-more">
      <button class="load-more-button" (click)="onClickLoadMore()">Load more</button>
    </div>
  </div>
  <div class="courses-list__no-data" *ngIf="!coursesListToShow.length">
    No data. Feel free to add new course
  </div>
  <app-confirm-modal *ngIf="isModalOpen"
                     [modalHeader]="'Delete course?'"
                     [modalQuestion]="'Are you sure you want to delete ' + courseToDelete.title + '?'"
                     [confirmMessage]="'Yes, delete'"
                     [cancelMessage]="'Cancel'"
                     (closed)="onCloseModalWindow()"
                     (confirmed)="onConfirmModalWindow()"></app-confirm-modal>
</div>
