<div class="courses-breadcrumbs">
  <div class="courses-breadcrumbs__element"
       [routerLink]="['/courses']"
       [routerLinkActive]="'courses-breadcrumbs__element--active'"
       [routerLinkActiveOptions]="{exact:true}">
    Courses
  </div>
  <div class="courses-breadcrumbs__element course-name"
       *ngIf="courseItem"
       [routerLink]="['/courses', courseItem.id]"
       [routerLinkActive]="'courses-breadcrumbs__element--active not-clickable'"
       [routerLinkActiveOptions]="{exact:true}">
    {{courseItem.name}}
  </div>

  <div class="courses-breadcrumbs__element"
       *ngIf="newCourseModeTitleForBreadcrumbs"
       [routerLink]="['/courses/new']"
       [routerLinkActive]="'courses-breadcrumbs__element--active not-clickable'"
       [routerLinkActiveOptions]="{exact:true}">
    {{newCourseModeTitleForBreadcrumbs}}
  </div>
</div>
