<header class="header">
  <a class="header__logo-btn" [routerLink]="['/courses']">
    <div class="logo"></div>
    <div class="logo-text">Video Course</div>
  </a>
  <div class="header__login-logoff-container">
    <a class="login-wrapper" *ngIf="!isAuthenticated" [routerLink]="['/login']">
      <div class="login-wrapper__icon"></div>
      <div class="login-logoff-text">User login</div>
    </a>
    <span class="header__user-info" *ngIf="isAuthenticated">{{userInfo}}</span>
    <a class="logoff-wrapper" *ngIf="isAuthenticated" (click)="onLogOff()" [routerLink]="['/login']">
      <div class="logoff-wrapper__icon"></div>
      <div class="login-logoff-text">Log off</div>
    </a>
  </div>
</header>
