<div class="course-item">
  <div class="course-item__header">
    <div class="course-title">Video Course 1. Name tag</div>
  </div>
  <div class="course-item__content">
    <div class="course-description">
      <div class="course-data">
        <div class="course-data__duration">
          <div class="fa fa-clock-o"></div>
          <div class="course-data-text">1h 28min</div>
        </div>
        <div class="course-data__date">
          <div class="fa fa-calendar"></div>
          <div class="course-data-text">9 Nov, 2018</div>
        </div>
      </div>
      <div class="course-description__text">
        Learn about where you can find course descriptions,
        what information they include, how they work,
        and details about various components of a course description.
        Course descriptions report information about a university or college's classes.
        They're published both in course catalogs that outline degree requirements and in
        course schedules that contain descriptions for all courses offered during a particular semester.
      </div>
    </div>
    <div class="course-actions">
      <button class="course-actions__edit">Edit</button>
      <button class="course-actions__delete">Delete</button>
    </div>
  </div>
</div>
