@import 'app/constants/constants';

.search-container {
  display: flex;

  &__wrapper {
    display: flex;
    align-items: center;
    padding-left: 14.2px;
    width: 360px;
    height: 48px;
    border-radius: 3px;
    border: solid 1px $gray3;
    background-color: $white1;
  }

  &__icon {
    width: 24px;
    height: 24px;
    background: url("app/../assets/ic-search.svg") center no-repeat;
  }

  &__input {
    width: 179px;
    height: 24px;
    margin-left: 6px;
  }

  &__button {
    margin-left: 6px;
    width: 100px;
    height: 48px;
    background-color: $green1;
    color: $white1;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    line-height: 2.56;
    letter-spacing: -0.13px;
    cursor: pointer;
  }
}
