@import 'app/styles/constants';

.search-container {
  display: flex;
  margin-bottom: 24px;

  &__wrapper {
    display: flex;
    align-items: center;
    padding-left: 14.2px;
    width: 360px;
    height: 48px;
    border-radius: 3px;
    border: solid 1px $pale-grey;
    background-color: $white;
  }

  &__icon {
    width: 24px;
    height: 24px;
    background: url('app/../assets/ic-search.svg') center no-repeat;
  }

  &__input {
    width: 179px;
    height: 24px;
    margin-left: 6px;

    &::placeholder {
      font-family: 'Source Sans Pro';
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.22px;
      color: $silver;
    }
  }

  &__button {
    margin-left: 6px;
    width: 100px;
    height: 48px;
    background-color: $sick-green;
    color: $white;
    border-radius: 3px;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    font-weight: 600;
    line-height: 2.56;
    letter-spacing: -0.13px;
    cursor: pointer;

    &:hover {
      background-color: $dark-green;
    }
  }
}
