$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome.scss';
@import 'app/constants/constants';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Oswald;
  src: url('app/../assets/fonts/Oswald/static/Oswald-Regular.ttf');
}

@font-face {
  font-family: Oswald-Medium;
  src: url('app/../assets/fonts/Oswald/static/Oswald-Medium.ttf');
}

button,
input {
  outline: none;
  border: none;
}

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

app-courses-container {
  flex-grow: 1;
  overflow: auto;
  background-color: $pale-grey-two;
}
