<form class="course-editor">
  <h2 class="course-editor__title">New course</h2>
  <div class="course-editor__form-element">
    <div class="element-caption">
      <div class="element-caption__title">
        Title:
      </div>
      <div class="element-caption__required">
        required
      </div>
    </div>
    <input type="text" class="element-input title-input" placeholder="Text input">
  </div>

  <div class="course-editor__form-element">
    <div class="element-caption">
      <div class="element-caption__title">
        Description:
      </div>
      <div class="element-caption__required">
        required
      </div>
    </div>
    <textarea type="text" class="element-input description-input" placeholder="Add description"></textarea>
  </div>

  <div class="course-editor__form-element duration-element">
    <div class="element-caption">
      <div class="element-caption__title">
        Duration:
      </div>
      <div class="element-caption__required">
        required
      </div>
    </div>
    <input type="text" class="element-input duration-element__input" placeholder="minutes">
  </div>

  <div class="course-editor__form-element date-element">
    <div class="element-caption">
      <div class="element-caption__title">
        Date:
      </div>
      <div class="element-caption__required">
        required
      </div>
    </div>
    <input type="date" class="element-input date-element__input" placeholder="mm-dd-yyyy">
  </div>

  <div class="course-editor__form-element authors-element">
    <div class="element-caption">
      <div class="element-caption__title">
        Authors:
      </div>
      <div class="element-caption__required">
        required
      </div>
    </div>
    <input type="text" class="element-input authors-element__input" placeholder="Start typing">
  </div>

  <div class="course-editor__action-buttons">
    <button class="cancel-course">Cancel</button>
    <button class="save-course">Save</button>
  </div>
</form>
