<div class="course-editor">
  <form [formGroup]="coursesEditor" (ngSubmit)="onSaveCourse()">
    <h2 class="course-editor__title">{{editorData.editorTitle}}</h2>
    <div class="course-editor__form-element">
      <div class="element-caption">
        <div class="element-caption__title">
          Title:
        </div>
        <div class="element-caption__error-notifier" *ngIf="coursesEditor.controls.title.errors &&
         coursesEditor.controls.title.errors.required">
          required
        </div>
        <div class="element-caption__error-notifier" *ngIf="coursesEditor.controls.title.errors &&
         coursesEditor.controls.title.errors.maxlength">
          title must be not more than 50 symbols
        </div>
      </div>
      <input id="title" type="text"
             class="element-input title-input"
             placeholder="Text input"
             formControlName="title">
    </div>

    <div class="course-editor__form-element">
      <div class="element-caption">
        <div class="element-caption__title">
          Description:
        </div>
        <div class="element-caption__error-notifier" *ngIf="coursesEditor.controls.description.errors &&
         coursesEditor.controls.description.errors.required">
          required
        </div>
        <div class="element-caption__error-notifier" *ngIf="coursesEditor.controls.description.errors &&
         coursesEditor.controls.description.errors.maxlength">
          description must be not more than 500 symbols
        </div>
      </div>
      <textarea type="text"
                class="element-input description-input"
                placeholder="Add description"
                formControlName="description"></textarea>
    </div>

    <div class="course-editor__form-element duration-element">
      <div class="element-caption">
        <div class="element-caption__title">
          Duration:
        </div>
        <div class="element-caption__error-notifier" *ngIf="coursesEditor.controls.duration.errors &&
         coursesEditor.controls.duration.errors.required">
          required
        </div>
      </div>
      <input type="text"
             class="element-input duration-element__input"
             placeholder="minutes"
             formControlName="duration">
    </div>

    <div class="course-editor__form-element date-element">
      <div class="element-caption">
        <div class="element-caption__title">
          Date:
        </div>
        <div class="element-caption__error-notifier" *ngIf="coursesEditor.controls.date.errors &&
         coursesEditor.controls.date.errors.required">
          required
        </div>
      </div>
      <input type="text"
             class="element-input date-element__input"
             placeholder="mm-dd-yyyy"
             formControlName="date">
    </div>

    <div class="course-editor__form-element authors-element">
      <div class="element-caption">
        <div class="element-caption__title">
          Authors:
        </div>
        <div class="element-caption__error-notifier" *ngIf="coursesEditor.controls.authors.errors &&
         coursesEditor.controls.authors.errors.required">
          required
        </div>
      </div>
      <input type="text"
             class="element-input authors-element__input"
             placeholder="Start typing"
             formControlName="authors">
    </div>

    <div class="course-editor__action-buttons">
      <button class="cancel-course" [routerLink]="['/courses']">Cancel</button>
      <button [disabled]="!coursesEditor.valid" type="submit" class="save-course">Save</button>
    </div>
  </form>
</div>
